<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
    </head>
    <body>
        <center>
            <div>
                <p align="left"><b>Hello World!</b></p>
            </div>
            <div>
                <img id="img_one" alt="img" style='height:10%;width:15%;border-radius:10px;margin-right: 10%;'; align="right" >
            </div>
        </center>
        <div style="width: 60%;">
            <p align="justify">
                Hi, my name is Puru Jaiswal, I am currently MSCS student @ UT Dallas.<br/><br/>
                I am quite interested  in Algorithms, Systems, and PL's.<br/><br/>
            </p>
        </div>
        <div>
            <h4>            
                Past Experience : 
            </h4>
        </div>
    </body>
</html>

<script type="text/javascript" src="/scripts/script_one.js"></script>