<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
    </head>
    <body>
        <center>
            <div>
                <p>Hello World!</p>
            </div>
            <div>
                <img id="img_one" alt="img" style='width:30%';>
            </div>
        </center>
        <div style="width: 60%;">
            <p>
                Hi, my name is Puru Jaiswal, currently working as software developer at redBus.in in payments department, what
                we internally call is "paas" (payments as a system).<br/><br/>
                I am quite interested  in Algorithms, Systems, and PL's.<br/><br/>

                This is just a simple profile website I made for fun, got to learn some web technologies, hence it turned out to be perfect weekend.<br/><br/>
                Soon I will be joining <b>UT Dallas</b> for my graduate studies, MS CS with focus on AI/ML.<br/><br/>
            </p>
        </div>
    </body>
</html>

<script type="text/javascript" src="/scripts/script_one.js"></script>